<div class="jumbotron">
  <h1>Formats</h1>
  <p class="btn-group">
    <%= link_to 'Add new format', "#newFormat", 'data-toggle' => 'modal', class: 'btn btn-default btn-lg' if can? :add, @format%>
  </p>
</div>

<!-- Modal -->
<div class="modal fade" id="newFormat">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add format</h4>
      </div>
      <div class="modal-body">
        <%= render 'formats/form', format: @format %>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<%= render partial: 'formats', format: @format %>
